<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JackSprattCoffee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4D37E561E0BBA7300C46FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D37E6A1E0BBA7400C46FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D37E751E0BBA7400C46FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
